$White-color: #fff;
$Space-color: #1D9BF0;
$Grey-color: #D6D9DB;
$Dark-color: #000;
$primary-darkTheme-color: #23282D;
:export {
    WhiteColor: $White-color;
    SpaceColor: $Space-color;
    GreyColor: $Grey-color;
    DarkColor: $Dark-color;
}