$White-color: #fff;
$Space-color: #1D9BF0;
$Grey-color: #D6D9DB;
$Dark-color: #000;

span {
    font-size: clamp(0.9em, 1.1vw, 1em);
    color: $Dark-color;
}

h2 {
    font-size: 7vw;
    font-weight: 700;
    letter-spacing: -2px;
    line-height: 7rem;
    color:$Dark-color
}

h3 {
    font-size: 5vw;
    font-weight: 700;
    letter-spacing: -2px;
    color: $Dark-color
}
